{{#extend "layout"}}
  {{#replace "bodyId"}}landing-page{{/replace}}
  {{#replace "main"}}

    <section id="content">
      <div>
        <h1>Zac Cobb</h1>
        <p>Web developer in Melbourne Australia</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}
