#landing-page {
  header nav ul a.landing-page {
    color: $color-warm;
    border-color: $color-warm;
  }
  main {
    #hero {
      height: 100vh;
      > div {
        padding: 200px 20px;
      }
      h1 {
        font-size: 20px;
      }
    }
    #features {
      h1 {
        font-size: 20px;
      }
    }
    #call-to-action {
      a.button {}
    }
  }
  footer {
    // color: green;
  }
}
