// VARIABLES
$font-stack: "Space Mono", "monospace", "OpenSans", "Arial", "Helvetica", sans-serif;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$black: 800;
$main-color: #E78234;
$secondary-color: #749099;
$paragraph-color: #CA531B;
$color-cool: #CBE8FF; //https://www.colorcodehex.com/00365f/
$color-warm: #CA531B;
